<div class="container-fluid">
    <div ng-include="'Projects/partials/projectHeader.html'" class="row"></div>
    <p>add</p>
    <div class="col-md-5">
        <div class="row">
            <h4 class="text-center col-md-12"><strong>new project</strong></h4>
        </div>
        <div class="row">
            <strong class="col-md-4 text-right">project title:</strong>
            <div class="col-md-8 text-left">
                <input ng-model="projectData.Name" ng-change="generateKey(projectData.Name)"
                       class="form-control" type="text" placeholder="name of the project" >
            </div>
        </div>
        <div class="row">
            <strong class="col-md-4 text-right">project lead:</strong>
            <div class="col-md-8 text-left">
                <input class="form-control" type="text" placeholder="{{project.Lead.Username}}" >
            </div>
        </div>
        <div class="row">
            <strong class="col-md-4 text-right">project key:</strong>
            <em class="col-md-8">{{projectData.ProjectKey}}</em>
        </div>
        <div class="row">
            <strong class="col-md-4 text-right">labels:</strong>
            <div class="col-md-8">
                <ul class="list-inline">
                    <li class="project-priority text-left" ng-repeat="label in project.Labels">{{label.Name}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <strong class="col-md-4 text-right">priorities:</strong>
            <div class="col-md-8">
                <ul class="list-inline">
                    <li class="project-priority text-left" ng-repeat="priority in project.Priorities">
                        {{priority.Name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <strong class="col-md-4 text-right">description:</strong>
            <div class="col-md-8 text-left">
                <textarea class="form-control" name="description" id="" cols="30" rows="10">{{project.Description}}</textarea>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8 text-right">
                <button type="button" ng-click="addNewProject(projectData)" class="btn btn-success">save</button>
                <a href="#/project/{{project.Id}}">cancel</a>
            </div>
        </div>
    </div>
</div>

