<h4 class="bg-danger page-header">Projects <span class="glyphicon glyphicon-signal"></span></h4>
<ul ng-model="projects" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div ng-include="'projects/partials/tableOfProjects.html'"></div>
                <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5"
                                class="pagination-md" items-per-page="5" ng-change="reloadProjects(bigCurrentPage)"
                                boundary-link-numbers="true" rotate="false">
                </uib-pagination>
            </div>
        </div>
    </div>

</ul>
