<div class="container-fluid">
    <div ng-include="'Projects/partials/projectHeader.html'" class="row"></div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <h4 class="text-center col-md-12"><strong>project data</strong></h4>
            </div>
            <div class="row">
                <strong class="col-md-4 text-right">project lead:</strong>
                <div class="col-md-8 text-left">{{project.Lead.Username}}</div>
            </div>
            <div class="row">
                <strong class="col-md-4 text-right">project key:</strong>
                <em class="col-md-8">{{project.ProjectKey}}</em>
            </div>
            <div class="row">
                <strong class="col-md-4 text-right">labels:</strong>
                <div class="col-md-8">
                    <ul class="list-inline">
                        <li class="project-priority text-left" ng-repeat="label in project.Labels">{{label.Name}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <strong class="col-md-4 text-right">priorities:</strong>
                <div class="col-md-8">
                    <ul class="list-inline">
                        <li class="project-priority text-left" ng-repeat="priority in project.Priorities">
                            {{priority.Name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <strong class="col-md-4 text-right">description:</strong>
                <div class="col-md-8 text-left">{{project.Description}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8 text-right">
                    <a href="#/project/{{project.Id}}/edit" type="button" class="btn btn-default">edit project</a>
                    <a href="#/project/{{project.Id}}/add-issue" type="button" class="btn btn-info">add issue</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h4 class="text-center col-md-12"><strong>issues</strong></h4>
            </div>
            <div class="row">
                <div ng-include="'projects/partials/tableOfIssues.html'" class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>
