/* app css stylesheet */

body {
  background-color: #f5f5f5;
}

.main-container {
  margin: 0 auto;
  width: 90%;
}

body, body a {
  color: #777;
}

.project-priority:not(:last-child) {
  border-right: 1px solid #777;
}

.header {
  padding:0 60px;
  background-color: #5bc0de;
}

.header a {
  color: #444;
}

#no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

header img {
  height:100%;
  width: 100%;
}

.nav {
  height:100%;
}

.site-title a {
  font-size: 0.9em;
  color: #ffffff;
}

.site-title a:hover {
  text-decoration: none;
}

.main-container .row {
  margin: 10px 0;
}

#ui-datepicker-div {
  background-color: #eee;
  padding: 0 20px;
}

input::-webkit-calendar-picker-indicator{
  display: none;
}

