<table class=" col-md-12 table table-hover">
    <thead>
    <tr>
        <th>title</th>
        <th>description</th>
        <th>due date</th>
        <th>assignee</th>
    </tr>
    </thead>
    <tbody>
    <tr class="clickable" ng-click="goToIssuePage(issue)" ng-repeat="issue in Issues | orderBy:'-DueDate'">
        <td>{{issue.Title}}</td>
        <td>{{issue.Description}}</td>
        <td>{{issue.DueDate | date: 'MMM dd yyyy'}}</td>
        <td>{{issue.Assignee.Username}}</td>
    </tr>
    </tbody>
</table>
<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5"
                class="pagination-sm" items-per-page="3" ng-change="reloadMyIssues(bigCurrentPage)"
                boundary-link-numbers="true" rotate="false">
</uib-pagination>