<div id="project-tabs">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#all" aria-controls="all" role="tab"
               data-toggle="tab">involved in projects</a>
        </li>
        <li role="presentation">
            <a href="#lead" aria-controls="lead" role="lead" data-toggle="tab">projects as lead</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all">
            <div ng-include="'projects/partials/tableOfProjects.html'"></div>
            <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5"
                            class="pagination-sm" items-per-page="5" ng-change="reloadMyIssues(bigCurrentPage)"
                            boundary-link-numbers="true" rotate="false">
            </uib-pagination>
        </div>
        <div role="tabpanel" class="tab-pane" id="lead">
            <div ng-include="'projects/partials/tableOfProjectsAsLead.html'"></div>
        </div>
    </div>

</div>
<script>
    $('#project-tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    })
</script>